{%extends 'all-cakey/base.html' %}
{%load bootstrap3%}
{%load static%}
{%block content%}
{% for post_items in post%}
<div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-6 col-lg-2">
                
                <h3>{{post_items.user}}</h3>
                {%if post_items.image%}
                <img src="{{post_items.image.url}}">
                {%endif%}
                <p>{{post_items.caption}}</p>
                <p>
                        <a>view recipe</a>
                      </p>
    
            </div>
        </div>
    </div>
    {%endfor%}
{%endblock%}